.button {
    -fx-font-size: 28px;
    -fx-font-weight: bold ;
    -fx-background-color: #007bff;
    -fx-text-fill: #fff;
    -fx-border-radius: 4px;
    -fx-alignment: CENTER;
    -fx-font-family: Consolas;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: #0056b3;
}

.text-field {
    -fx-font-size: 20px;
    -fx-background-color: white;
    -fx-font-family: Consolas;
    -fx-border-color: transparent transparent #a3a3a3 transparent;
    -fx-border-width: 0 0 3 0;
    -fx-text-fill: #525151;
}

.text-field:focused {
    -fx-border-color: #007bff;
    -fx-background-color: white;
}

.label_main {
    -fx-font-size: 48px;
    -fx-padding: 8px 8px;
    -fx-background-color: white;
    -fx-text-fill: #333;
    -fx-alignment: CENTER;
    -fx-font-family: Consolas;
}

.label_grid {
    -fx-font-size:24px;
    -fx-padding: 8px 8px;
    -fx-background-color: white;
    -fx-text-fill: #333;
    -fx-font-family: Consolas;
}

.label_failed_login {
    -fx-font-size: 22px;
    -fx-padding: 8px 8px;
    -fx-background-color: white;
    -fx-text-fill: #f30a0a;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

#signUpLink{
    -fx-font-size: 18px;
    -fx-padding: 3px 10px;
    -fx-font-family: Consolas;
}

#middleBackground{
    -fx-background-color: transparent;
}

#forgotPasswordLink{
    -fx-font-family: Consolas;
    -fx-font-size: 18px;
}

#widgetsLoginBackground{
    -fx-background-color: white;
}

#mainBackground{
    -fx-background-image: url("../images/Background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

#smallerBackground{
    -fx-background-image: url("../images/Background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.whatever{
    -fx-border-color: #f11a1a;
}