.table-view {
    -fx-control-inner-background: #f5f5f5; /* Table background color */
    -fx-border-color: #ccc; /* Table border color */
}

.table-view .column-header {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-background-color: #fff;
    -fx-text-fill: #333;
}

.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-row-cell:selected{
    -fx-background-color: #017b8f;
}

.table-column {
    -fx-alignment: CENTER_LEFT;
    -fx-font-family: Arial;
    -fx-font-size: 13px;
}

.table-row-cell:selected .text{
    -fx-fill: #ffffff;
}


.button {
    -fx-padding: 8px 16px;
    -fx-font-size: 16px;
    -fx-background-color: #007bff;
    -fx-text-fill: #fff;
    -fx-border-radius: 4px;
    -fx-alignment: CENTER;
    -fx-font-family: "Arial";
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: #0056b3;
}


.text-field {
    -fx-font-size: 16px;
    -fx-padding: 8px;
    -fx-prompt-text-fill: #7c7c7c;
    -fx-background-color: #f9f9f9;
    -fx-border-color: #ccc;
    -fx-border-radius: 4px;
}

.text-field:focused {
    -fx-border-color: #007bff;
    -fx-background-color: #fff;
}

.text-field .text {
    -fx-fill: #333;
}

.backPageButton {
    -fx-padding: 8px 16px;
    -fx-font-size: 14px;
    -fx-background-color: #007bff;
    -fx-text-fill: #fff;
    -fx-border-radius: 4px;
    -fx-alignment: CENTER;
    -fx-font-family: "Arial";
    -fx-border-color: transparent;
}

.forwardPageButton {
    -fx-padding: 8px 16px;
    -fx-font-size: 14px;
    -fx-background-color: #007bff;
    -fx-text-fill: #fff;
    -fx-border-radius: 4px;
    -fx-alignment: CENTER;
    -fx-font-family: "Arial";
    -fx-border-color: transparent;
}

